

/* Center the splash screen on the page */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure that the splash screen appears on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Set the background color of the splash screen */
    overflow: hidden !important; /* Hide the scrollbar */
  }
  
  /* Style the image */
  .splash-screen img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  
  
  
  /* NAVBAR SECTION -------------------- */
  nav{padding: 40px 10px 40px 20px;}
  
  #nav-container{margin-top: 15px; padding-left: 60px; padding-right: 60px;}
  
  .nav-link{color: #687077;  text-transform: uppercase; font-weight: bold; transition: all 0.4s;}
  .nav-link:hover{color: #fefefe;}
  #navbar-header-mobile{width: 100vw;}
  
  .navbar-toggle{background-image: url("img/toggle.png"); background: black;
  border: none;
  
  position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 4px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      
  }
  
  .button{color: white; background: black; font-weight: bold;
  background-color: transparent;
      border: 3px solid #D5333E;
      border-radius: 34px;
      margin: 0;
    margin-top: -13px;
      outline: 0;
      padding: 10px 20px; 
      transition: all 0.4s;
  }
  
  .button:hover{box-shadow: 0 0 5px #D5333E,
                0 0 5px #D5333E,
                0 0 50px #D5333E,
                0 0 50px #D5333E; }
  #logoimg{width: 100px; margin-top: -15px;}
  
  
  @media(max-width: 810px){.hero-text{margin-left: 14vw;}}
  
  
  @media(max-width: 760px){#nav-desktop{display: none;}}
  @media(min-width: 760px){#nav-mobile{display: none;}}
  


.navbar-inverse {
    background-color: black !important;
    border-color: black !imporant;
}